:root {
  --bgColor: #ECE2D0;
  --textColor: #6D2E46;
  --borderColor: #D5B9B2;
  --pastColor: #A26769;
  --presentColor: #CEBEBE;
  --textFont:'Edu TAS Beginner', cursive;
}
body {
    font-family: var(--textFont);
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border: none;
    resize: none;
    color: var(--textColor);
    border-left: 1px solid var(--borderColor);
    padding: 10px;
  }
  
  .jumbotron {
    font-family: var(--textFont);
    text-align: center;
    background-color: var(--bgColor);;
    color: var(--textColor);
    border-radius: 0;
    border-bottom: 10px solid var(--borderColor);
  }
  
  .instruction{
    font-family: var(--textFont);
    color: var(--textColor);
    font-size: large;
    text-align: center;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: normal;
    height: 100px;
    border-top: 4px dotted var(--borderColor);
  }
  
  .hour {
    background-color: var(--bgColor);;
    color: #000000;
    border-top: 1px dashed var(--borderColor);
  }
  
  .past {
    background: var(--pastColor);
  }
  
  .present {
   background: var(--presentColor);
  
  }
  .future {
    background: lightgreen;
   
  }
  
#saveBtn{
  display:inline-block;
  border-radius: 10px;
  background-color: var(--textColor);
  transition-duration: 0.4s
}

#saveBtn :hover {
  font-size: medium;
  color:white;
}
  
#saveBtn :active {
  background-color: bisque;
  box-shadow: 0 10px #666;
  transform: translateY(4px);
}
